{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/estilo2.css" %}'>
    <title>Document</title>
</head>
<body>
    <div class="register">
        <input type="text" placeholder="Nombre " name="text"><br>
        <input type="apellido" placeholder="Apellido" name="apellido"><br>
        <input type="rut" placeholder="rut" name="rut"><br>
        <input type="Telefono" placeholder="Telefono" name="Telefono"><br>
        <input type="Direccion" placeholder="Direccion" name="Direccion"><br>
        <input type="submit" value="Registrarse">
    </div>
    
</body>
</html>