{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menú de Restaurante</title>
<link rel="stylesheet" type="text/css" href= '{% static "css/estilo3.css" %}'>
</head>
<body>
    <header>
        <h1>-----Menú de Restaurante-----</h1>
    </header>

    <div class="card-category category-ENTRADA">
        <h1><p>Entrada</p></h1>
    </div>

    <div class="menu-container">
        <div class="menu-item">
            <img src="{% static 'img/consome.jpg'}" alt="Plato 1">
            <div class="menu-item-content">
                <h2>Consomé</h2>
              
                <p>Precio: $3.00</p>
            </div>
        </div>
        
        <div class="menu-item">
            <img src="{% static 'img/humus.jpg'}" alt="Plato 2">
            <div class="menu-item-content">
                <h2>Humus</h2>
                <p>(de garbanzo)</p>
                <p>Precio: $2.00</p>
            </div>
        </div>
        
        <div class="menu-item">
            <img src="{% static 'img/ensa.jpg'}" alt="Plato 3">
            <div class="menu-item-content">
                <h2>Ensalada</h2>
                <p>(de frutilla)</p>
                <p>Precio: $3.00</p>
            </div>
        </div>
    </div>

    <div class="card-category category-FONDO">
        <h1><p>Plato  de  fondo </p></h1>
    </div>

    <div class="menu-container">
        <div class="menu-item">
            <img src="{% static 'img/cazuela.jpg'}" alt="Plato 1">
            <div class="menu-item-content">
                <h2>Cazuela</h2>
                <p>(vacuno)</p>
                <p>Precio: $3.00</p>
            </div>
        </div>
        
        <div class="menu-item">
            <img src= "{% static 'img/fideo.jpg'}" alt="Plato 2">
            <div class="menu-item-content">
                <h2>Fideos con salsa</h2>

                <p>Precio: $2.00</p>
            </div>
        </div>
        
        <div class="menu-item">
            <img src="{% static 'img/pescado.jpg'}"  alt="Plato 3">
            <div class="menu-item-content">
                <h2>Pescado frito</h2>
                <p>(reineta)</p>
                <p>Precio: $3.000</p>
            </div>
        </div>
    </div>

    <div class="card-category category-POSTRE">
        <h1><p>Postre</p></h1>
    </div>

    <div class="menu-container">
        <div class="menu-item">
            <img src="{% static 'img/flan.jpg'}"  alt="Plato 1">
            <div class="menu-item-content">
                <h2>Flan</h2>
                <p>(tradicional)</p>
                <p>Precio: $3.00</p>
            </div>
        </div>
        
        <div class="menu-item">
            <img src="{% static 'img/limon.jpg'}"  alt="Plato 2">
            <div class="menu-item-content">
                <h2>Píe de limon</h2>
               
                <p>Precio: $2.00</p>
            </div>
        </div>
        
        <div class="menu-item">
            <img src="{% static 'img/helado.jpeg'}"  alt="Plato 3">
            <div class="menu-item-content">
                <h2>Helado</h2>
                <p>(frutilla, mango o chocolate)</p>
                <p>Precio: $3.00</p>
            </div>
        </div>
    </div>
</body>
</html>
